files:
  "/tmp/test_install_script.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      source /opt/python/run/venv/bin/activate
      pip install Flask
      pip install Flask-SQLAlchemy
      pip install gsutil
      pip install IPython
      pip install ./tapas
      gsutil cp gs://tapas_models/2020_04_21/tapas_sqa_base.zip .
      unzip tapas_sqa_base.zip
container_commands:
  01_install_script:
    command: "/tmp/test_install_script.sh"
  02_change_permission:
    command: "chmod -R 777 app"
    cwd: "/opt/python/ondeck"
