<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Demo: Basketball Trivia!</h2>
      <p>
        For our demo, we uploaded two tables into Quotable from: <a href="https://stats.nba.com">NBA Stats Portal</a>
      </p>
      <p>
        <li><a href="https://stats.nba.com/alltime-leaders/?SeasonType=Regular%20Season">All-time NBA Leaders for Regular Season Games</a></li>
        <li><a href="https://stats.nba.com/alltime-leaders/?SeasonType=Playoffs">All-time NBA Leaders for Playoff Games</a></li>
      </p>
      <p>
        You can either use some queries we constructed for the demo, or try out your own query based on these datasets.
      </p>
    </div>

    <!-- <div class="dropdown text-center">
      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Queries for Demo
      </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Query 1</a>
      <a class="dropdown-item" href="#">Query 2</a>
      <a class="dropdown-item" href="#">Query 3</a>
    </div>
  </div> -->

  <!-- queries for demo -->
  <!-- Put these in a database later -->
  <!-- demo_queries = {
    1: "What player has the most career assists?",
    2: "What player has the highest career PPG?",
    3: "What player has the highest career 3-pt FG percentage?",
    4: "Which of these players has the all-time record for most appearances in the playoffs, with 259 games?",
    5: "Which player appeared in the most regular season games of all time, with 1611 games?",
    6: "Who has the most career rebounds?",
    7: "What player appeared in the most career NBA games?",
    8: "Who has the most career points in the playoffs?",
    9: "What player has the highest career FT percentage?",
    10: "What player has the most career personal fouls?"
  } -->

  <form class="" method="post">
    <div class="form-group">
      <label for="exampleFormControlSelect1"><h4>Select Query from drop down:</h4></label>
      <select class="form-control" id="demoSelection">
        <option>What player has the most career assists?</option>
        <option>What player has the highest career PPG?</option>
        <option>What player has the highest career 3-pt FG percentage?</option>
        <option>Which of these players has the all-time record for most appearances in the playoffs, with 259 games?</option>
        <option>Which player appeared in the most regular season games of all time, with 1611 games?</option>
        <option>Who has the most career rebounds?</option>
        <option>What player appeared in the most career NBA games?</option>
        <option>Who has the most career points in the playoffs?</option>
        <option>What player has the highest career FT percentage?</option>
        <option>What player has the most career personal fouls?</option>
      </select>
    </div>
    <p></p>
    <button type="button" class="btn btn-sm btn-outline-success" id="demo_submit">Submit</button>
    <!-- <p id="demo_result"> </p>  -->
    <p></p>

    <form class="">
      <div class="form-group">
        <p>
          <textarea class="form-control" id="demo_result" rows="1" readonly></textarea>
        </p>
      </div>
    </form>

    <!-- Capturing value of demo option here -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script type=text/javascript>
      $(function() {
        $('a#demo_submit').bind('click', function() {
        $.getJSON('/answer_query', {
          proglang: $('input[name="proglang"]').val(),
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
        });
      });
    </script>
    <script>
        $(document).ready(function() {
          $("#demo_submit").click(function() {
                var demo_option = $("#demoSelection option:selected");
                // #$('#demo_result').text(demo_option.text());
                $.getJSON('/answer_query', {
                  query_q: demo_option.text(),
                }, function(data) {
                  $('#demo_result').text(data.result)
                });
                return false;
                // str = demo_option.text();
              });
          $("#demo_q_submit").click(function() {
                var demo_q = $("#demo_query_in");
                // alert(demo_q.val())
                // #$('#demo_result').text(demo_option.text());
                $.getJSON('/answer_query', {
                  query_q: demo_q.val(),
                }, function(data) {
                  $('#demo_a').text(data.result)
                });
                return false;
              });
        });
    </script>

    <!-- own query -->

    <div class="form-group">
      <label for="demo_query_in"><h4>Or Enter your Query here:</h4></label>
      <textarea class="form-control" id="demo_query_in" rows="2"></textarea>
    </div>

    <!-- <div class="form-group row">
      <label for="queryinput" class="col-sm-1 col-form-label">Question</label>
      <div class="col-sm-11">
        <input type="text" class="form-control" id="queryinput" placeholder="Your question here">
      </div>
    </div> -->
  <form>
    <button type="button" class="btn btn-sm btn-outline-success" id="demo_q_submit">Submit</button>
  </form>

  <p>
  </p>

  <form class="">
    <div class="form-group">
      <p>
        <textarea class="form-control" id="demo_a" rows="1" readonly></textarea>
        <!-- <input class="form-control form-control-lg" id="demo_a" type="text" placeholder="Query output from Quotable" readonly rows="2"> -->
      </p>
    </div>
  </form>


  </div>
</section><!-- End Services Section -->
