<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Our Product</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Quotable is a Data Assistant which uses cutting-edge Natural Language Processing (NLP) techniques to query tables.
          Generally, you will need to be an expert at Structured Query Language (SQL) to query tables. SQL can be complex and difficult to learn.
          With Quotable, you can query tables in plain English! It is very simple to use - Just upload your tables, ask your questions,
          and make your data talk to you. Quotable is perfect for you if you are experiencing "SQL pains" such as below:
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> You have to generate instantaneous insights for your execs as a part of an Enterprise BI Team</li>
          <li><i class="ri-check-double-line"></i> You are a lay consumer who wants insights into data, but don't have SQL expertise</li>
        </ul>
        <a href="#why-us" class="btn-learn-more scrollto">Learn More</a>
      </div>
      <!-- <div class="col-lg-6 pt-4 pt-lg-0"> -->
      <div class="col-lg-6">
        <!-- <p> -->
          <h4>Quotable for Enterprise BI</h4>
          As an executive in a large enterprise, you want your BI team to provide quick insights on revenues for your product lines. However, every
          time you ask a question, the BI team needs another week to get back to you. With Quotable, you don't need to wait, and you don't need to know SQL either!
          Just ask your question in English and get an instantaneous response.
          <p>
            <h4>Quotable for Consumers</h4>
            You are a basketbal enthusiast, say, and no stats expert. You want to know how well Lebron James did in the 2020 season compared to others.
            You do a Google search, but there are no straight answers. What do you do? With Quotable, you just type your question in, and we do the rest of the magic
            and get you a straight answer.
          </p>
        <!-- </p> -->
        <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
      </div>
      
    </div>

  </div>
</section><!-- End About Us Section -->
